<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GitLab03</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1></h1>
        <h1 th:text=" ${'Hello ' + nimi.etunimi + ' ' + nimi.sukunimi + '!'}"></h1>

        
    </body>
</html>
